<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout :: header">
</head>
<body>

<div th:insert="layout :: navbar">  </div>

<div class="container mt-5 text-white col-lg-3">
    <h2 class="text-center">Ingresa los datos de la UEA:</h2>
    <form th:object="${uea}" method="Post" th:accion="@{/AgregarUEA}">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="clave" class="form-label">Clave</label>
            <input type="text" class="form-control" id="clave" name="clave" required>
        </div>
        <div class="mb-3">
            <label for="unidad" class="form-label">Unidad</label>
            <select class="form-select" id="unidad" name="unidad" required th:field="*{Unidad.idUnidad}">
                <option value=0>Selecciona una unidad</option>
                <option
                        th:each="unidad : ${unidades}"
                        th:value="${unidad.IdUnidad}"
                        th:text="${unidad.Nombre}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="tronco" class="form-label">Tronco</label>
            <select class="form-select" id="tronco" name="tronco" required th:field="*{Tronco.idTronco}">
                <option value=0>Selecciona un tronco</option>
                <option th:each="tronco : ${troncos}"
                        th:value="${tronco.IdTronco}"
                        th:text="${tronco.Nombre}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="trimestre" class="form-label">Trimestre</label>
            <select class="form-select" id="trimestre" name="trimestre" required th:field="*{Trimestre.idTrimestre}">
                <option value=0>Selecciona un trimestre</option>
                <option th:each="trimestre : ${trimestres}"
                        th:value="${trimestre.IdTrimestre}"
                        th:text="${trimestre.Nombre}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="creditos" class="form-label">Créditos</label>
            <input type="number" class="form-control" id="creditos" name="creditos" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

</body>
</html>

