<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="es">
<head th:replace="layout :: header">
</head>
<body>

<!-- Navbar -->
<div th:insert="layout :: navbar"></div>

<br><br><br><br><br><br>
<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="container mt-5 text-center">
            <div class="card text-bg-dark">
                <div class="card-header">
                    <h1>¡Bienvenidos!</h1>
                </div>

                <div class="card-body">
                    <h4>Esto es una prueba de cómo funciona la página principal:)</h4>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>