<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout :: header">
</head>
<body>
<div th:insert="layout :: navbar"></div>

<div class="row justify-content-center mt-5">
    <div class="container mt-5 col-lg-8 text-white">
        <h2 class="text-center">Listado de UEA</h2>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Clave</th>
                <th scope="col">Nombre</th>
                <th scope="col">Unidad</th>
                <th scope="col">Tronco</th>
                <th scope="col">Trimestre</th>
                <th scope="col">Créditos</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="uea : ${ueas}">
                <td th:text="${uea.Clave}"></td>
                <td th:text="${uea.Nombre}"></td>
                <td th:text="${uea.Unidad.Nombre}"></td>
                <td th:text="${uea.Tronco.Nombre}"></td>
                <td th:text="${uea.Trimestre.Nombre}"></td>
                <td th:text="${uea.Creditos}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
